<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        body {
            height: 5000px;
        }
        .error {
            color: red;
        }

        .success {
            color: greenyellow;
        }

        .products {
          display: flex;
          flex-wrap: wrap;
          border: 1px solid black;
          padding: 10px;
        }

        .products__item {
          border: 1px solid red;
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 30px;
        }
    </style>
    
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

    <div id="app">
        <h1> Interpolations </h1>
        {{ name }}

        {{ appVersion }}

        {{ isMarried }}

        {{collection}}
        
        <br />
        {{ getLastCollectionValue() }}

        <br>

        {{  isMarried? 'yes' : 'no' }}

        

        <hr />


        <h1> Loop </h1>

        <article class="products">
          <!-- Товары: -->
          <section class="products__item" v-for="product in products">
                {{ makeProductName(product) }}
          </section>


        </article>

        <hr />

        <h1> bind events </h1>
        <div class="buttons buttons__group">
            <button  v-on:click="addProduct()">add</button>
            <button @click="removeProduct()">remove</button>
        </div>

        <hr />

        <h1>two-way data binding</h1>

        <label for="Login">Login</label>
        <input type="text" id="Login" v-model="login">
        <button :disabled="login.length < 2" :id="login">send</button>
        <br />
        <div v-if="login.length">Hello my dier {{ login }}</div> 
        <div v-else>Hello anonym</div>


        <hr>

        <h1> v-if, v-show</h1>
        
        <div v-if="time <= 10">Good morning</div>
        <div v-else-if="time > 10 && time < 15">Good day</div>
        <div v-else>Good evening</div>

        <span v-show="isHidden">Hello v-show</span>

        
    </div>

    <!-- {{appVersion}} -->

    <!-- <script src="./lib.js"></script>
    <script src="async.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="my-vue.js"></script>
</body>
</html>