* {
    box-sizing: border-box;
}

form {
    border: 1px solid red;
    padding: 10px;

    display: flex;
    flex-direction: column;

    position: fixed;

    width: 250px;

    transition: all .5s;
}

form:nth-child(odd) {
    left: -250px;
}

form:nth-child(even) {
    left: 100%;
}

form label {
    margin-bottom: 10px;
}

form.center {
    left: 50%;
    transform: translateX(-50%);
}